#subtitles{
    color:aqua;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    outline:black;
}
#title{
    color:chocolate;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    font-weight:900;
    font-family: cursive;
    margin: blue;
}
img{
    height:500px; 
    width:auto ;

}